@import 'reset';
$body-color: black;
 *{
   border: 1px solid black;
 }

#container{
  margin: 0 auto;
}
header{
  background-color:  black;
  color: white;
}
header img{
  margin: 1em 4em;
} 
header h1{
  display: inline;
}
.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

#nav-id{
  padding: 0;
}

#nav-bar ul{
    list-style-type: none;
    padding: 0;
    li{
      display: inline-block;
      margin-right: 3vw;
      color: whitesmoke;
    }
}

.flex-container-media{
  position: relative;
  height: 0;
  padding-bottom: 35.88%
}

.flex-media{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

#main{
  height: 3000px;
}